{% extends 'base.html.twig' %}

{% block title %}
  Acceuil
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur Mon Site</h1>
    <p class="lead">Un endroit où vous pouvez découvir les joies du sport.</p>
    <hr class="my-4">
 
  </div>

  
</div>
{% endblock %}


