{% extends 'base.html.twig' %}

{% block title %}
  Acceuil
{% endblock %}

{% block body %}

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Poney Club Miage </h1>
    <p class="lead">Un endroit où vous pouvez découvir les joies du sport.</p>
    <hr class="my-4">
 
  </div>
  <div class="container">
    <img src="{{ asset('image/cheval2.HEIC') }}" alt="equitation"  height="550">
    <img src="{{ asset('image/cheval.JPG') }}" alt="equitation"  height="550">

    <img src="{{ asset('image/cheval3.HEIC') }}" alt="equitation"  height="550">
  </div>
  
</div>
{% endblock %}


