
  .navbar {
    background-color: #6610f2; /* Nouvelle couleur de fond de la barre de navigation */
    border-radius: 10px; /* Coins arrondis */
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    color: #ffffff; /* Couleur du texte par défaut */
    transition: color 0.3s ease-in-out; /* Transition de couleur */
  }

  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #ffffff; /* Couleur du texte au survol */
  }

  .navbar-toggler-icon {
    background-color: #ffffff; /* Couleur de l'icône du bouton de bascule */
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none; /* Supprime la bordure du bouton de bascule lorsqu'il est en focus ou actif */
  }

  .navbar-toggler:hover {
    background-color: #ffffff; /* Couleur de fond du bouton de bascule au survol */
  }

  .navbar-nav .nav-link {
    transition: transform 0.3s ease-in-out; /* Transition de transformation au survol */
  }

  .navbar-nav .nav-link:hover {
    transform: scale(1.2); /* Agrandit au survol */
  }

  